html, body {
    margin: 0;
    padding: 0;
}
.top h1 {font-size: 2em; border-bottom: 1px solid grey;}
/* Navigation*/
.navi {
     display: flex;
}
.navi ul li {list-style: none; display: inline;}
.navi a {  text-decoration: none; font-size: 1.2em;}
.navi #border {border-right: 1px solid darkgrey;}
.container-fluid {background:#EAEAEC;margin-bottom: 30px; border-bottom: 2px solid darkgrey;}



/* Mitarbeiter-Boxen*/
.card {
    display: inline-block;
    text-align: center;
    margin-top: 1em;


    border: 1px solid darkgrey;
    border-radius: 0.5em;
    background: rgba(245, 245, 245);
    padding: 0.5em;

    transition: transform 0.5s, background 0.5s;
    transform: scale(1);
}
.card img {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
}
.right {
  text-align: right;
}

/* Footer*/
.footer img { max-width: 10%;display: block; margin-left: auto; margin-right: auto }
.footer {background:#EAEAEC; margin-top: 100px;}
